body {
    background-image: url("Perfect_dog_pawprints.png");
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: purple;

}

.container {
    display: flex;
    border-width: 2px;
    border-style: solid;
    border-color: purple;
    /* position: relative;
    right: 40px; */

}

h1 {
    text-align: center;
    color: #9c42f5;
    /* position: relative;
    right: 45px; */
}

h2 {
    color: blue;
    text-align: center;
    /* padding-right: 80px; */
}

image {
    margin: auto;
}

.image {
    position: relative;
    left: -2000px;
}


.image-div {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

#modal-textbox {
    background-color: blue;
    color: whitesmoke;
    opacity: .7;
    padding: 2%;
    line-height: 120%;
    border: 2px solid black;

}

#modal-footer {
    text-align: center;
}

.modalh1 {
    color: whitesmoke;
}

#h1-header {
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
}

#h1-paragraph {
    font-size: 14px;
    text-align: center;
}

/* change this */
.modal-buttons {
    padding: 14px 18px;
    background-color: #3d76d3;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-family: 'Arial';
    cursor: pointer;
}

.modal-buttons:hover {
    background-color: #b642f5;
}

#openModal {
    padding: 14px 18px;
    background-color: #3d76d3;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    font-family: 'Arial';
    cursor: pointer;
}

#openModal:hover {
    background-color: #b642f5;
}

@media (min-width: 320px) and (max-width:750px) {


    h1 {
        text-align: center;
        font-size: 26px;
    }

    h2 {
        text-align: center;
        font-size: 18px;
    }

    .image {
        margin: 20px;
    }
}